<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="apiKey" value="fa114107311259f5f33e70a5d85de34a2499b4401da069af0b1d835cd5ec0d56" />
    <add key="apiUrl" value="https://gorest.co.in/public-api/users" />
  </appSettings>
</configuration>